<!-- views/partials/header.ejs -->
      <div class="nav-top">
        <div class="row">
          <div class="small-12 columns">
            <span class="heading">RESE2NSE</span>
            <span class="sub-heading">Resilient Sensory Swarms for Smart Energy and Environmental Monitoring</span>
          </div> <!-- end .columns -->
        </div> <!-- end .row -->
      </div> <!-- end .nav-top -->
 