<!-- views/partials/nav.ejs -->

    <nav class="main-nav">
      <div class="nav-links">
        <div class="row">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/graph">Graph</a></li>
			<li><a href="/plot/r203/10mins">Plot</a></li>
          </ul>
        </div> <!-- end .row -->
      </div> <!-- end .nav-links -->
    </nav> <!-- end nav -->
