!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/contour.css"/>
  </head>

  <body>
    <div id="myDiv"></div>

    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/plotly-latest.min.js"></script>
    <script src="/javascripts/data-fetcher.js"></script>
    <script src="/javascripts/contour.js"></script>
  </body>
</html>
